body{
    background-image: url('./font.png');
}

form.form_chek {
    display: flex;
    flex-direction: column;
}

.colls_rows {
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
    width: 100%;
}

.colls_item {
    display: flex;
    margin: 30px 0px 50px 0px;
    justify-content: space-between;
    width: 100%;
}

div.money {
    padding: 0% 1% 0% 1%;
    margin: 0px 2% 0% 2%;
    border: 1px dotted;
    font-size: 50px;
    font-family: sans-serif;
    cursor: pointer;
    user-select: none;
    max-width: 20%;
    background-color: rgb(236, 255, 236);
    border-radius: 10px;
}

div.items {
    padding: 0% 1% 0% 1%;
    margin: 0px 2% 0% 2%;
    border: 1px dotted;
    font-size: 50px;
    font-family: sans-serif;
    cursor: pointer;
    user-select: none;
    max-width: 5%;
    background-color: rgb(236, 255, 236);
    border-radius: 10px;
}

button.clear_money {
    background-color: rgb(220, 245, 220);
    border-radius: 5px;
    margin-right: 50px;
    border: none;
    cursor: pointer;
}

button.clear_items {
    background-color: rgb(220, 245, 220);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.clear_img {
    width: 100%;
}

form.list_check {
    overflow-y: scroll;
    scrollbar-color: transparent;
    scrollbar-width: thin;
    height: 200px;
}

button.press_sours {
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(58, 146, 69);
    border: 1px double transparent;
    border-bottom-color: rgb(34, 83, 41);
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2%;
    cursor: pointer;
}

form.list_check {
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgb(220, 245, 220);
    border-bottom-left-radius: 10px;
}

.chekList{
    margin-bottom: 1%;
    padding-left: 2%;
    box-shadow: 0px 0px 20px rgb(173, 199, 173);
}

span#delete_check {
    margin: 0% 3% 0% 0%;
    padding: 0%;
}

.bigbox {
    display: flex;
}

.box1 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 9%;
}

.minibox1 {
    display: flex;
    width: 80%;
    justify-content: end;
}

.minibox2 {
    display: flex;
    width: 80%;
    justify-content: end;
}

@media (max-width: 750px) {
    div.money {
        font-size: 50px;
        max-width: 7%;
    }
    
    div.items {
        font-size: 50px;
        max-width: 7%;
    }

}

@media (max-width: 650px) {
    div.money {
        font-size: 40px;
        max-width: 9%;
    }
    
    div.items {
        font-size: 40px;
        max-width: 9%;
    }

    button.clear_money {
        background-color:rgb(220, 245, 220);
        border: none;
    }
    
    button.clear_items {
        background-color: rgb(220, 245, 220);
        border: none;
    }

}

@media (max-width: 460px) {

    img.clear_img {
        width: 100%;
    }

    button.clear_money {
        background-color: rgb(97, 32, 32);
        margin-right: 20%;
        width: 10%;
    }

    button.clear_items {
        background-color: rgb(97, 32, 32);
        margin-right: 20%;
        width: 10%;
    }

    .chekList{
        font-size: 14px;
    }

    div.money {
        font-size: 40px;
        max-width: 13%;
    }

    div.items {
        font-size: 40px;
        max-width: 13%;
    }

}


@media (max-width: 387px) {

    div.items {
        margin: 0% 4%;
    }

    div.money {
        margin: 0% 1%;
    }

}